---
layout: page
title: "About"
description:
header-img:
---
<div style="text-align: center;">
  <img src="/img/profile.jpg" class="img-circle" align="middle" style="width:304px;height:228px">
</div>
<p>George Imura is a market research and compliance consultant in the mortgage industry. He also leads a statistical arbitrage investment fund and a retail venture.</p>
