---
layout: page
title: "Contact"
description: "Have questions? I have answers (maybe)."
header-img: "/img/contact-bg.jpg"
---

<ul class="list-inline text-center">
  <li>
      <a href="mailto:georgeimura1@gmail.com">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
      </a>
  </li>
  <li>
      <a href="https://www.facebook.com/george.imura">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
      </a>
  </li>
  <li>
      <a href="https://twitter.com/roguemirage">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
      </a>
  </li>
  <li>
      <a href="https://www.linkedin.com/in/georgeimura">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
      </a>
  </li>
</ul>

<p>Want to get in touch with me? Here's my contact information:<br><br>
    George M. Imura<br>
    Email: georgeimura1@gmail.com<br>
    Cell: (919) 451-5981<br>
    2106 Crigan Bluff Drive<br>
    Cary, NC 27513<br>
</p>
