---
layout: page
title: "Stock Data"
description:
header-img:
---
<p> <center><b>NASDAQ-100 Index Values</b></center> </p>

<input type="text" id="input" value = "Enter a Company Name" onfocus="if (this.value=='Enter a Company Name') this.value='';"/>
<input type="submit" id = "btn" value="Submit">

<div class="ct-chart ct-perfect-fourth">
<script src ="/js/stock.js"></script>
</div>
